@import '~bootstrap/scss/bootstrap';


header {
    font-size: 13px;

    .top_header {
        background-color: #0282F9;
    }

    .nav {
        margin: 1rem 0;

        .navbar {

            a {
                display: inline-block;
                text-decoration: none;
                color: #46464C;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 15px;
                padding: 1rem;
            }

            .active {
                color: #0282F9;
                border-bottom: 4px solid #0282F9;
                padding-bottom: 52px;
                margin-bottom: -52px;
            }


        }

    }


}

main {
    .jumbo-top {
        height: 400px;
        background-image: url('../img/jumbotron.jpg');
        background-position: center top;
    }

    .content {
        position: relative;
        background-color: #1C1C1C;
        padding: 1rem 0;
        color: white;

        img {
            width: 200px;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: center top;
        }

        .current_series {
            position: absolute;
            bottom: 95%;
            left: 25px;
            padding: 1rem 2.5rem;
            background-color: #0282F9;
            text-transform: uppercase;
            color: white;
        }

        .load {
            text-align: center;
            margin-top: 3rem;
            margin-bottom: 1rem;

            a {
                background-color: #0282F9;
                padding: 0.5rem 3rem;
                font-size: 13px;
                font-weight: bold;
                text-transform: uppercase;
                text-decoration: none;
                color: white;

                &:hover {
                    background-color: transparent;
                    border: 2px solid #0282F9;

                }
            }
        }

        .title {
            text-transform: uppercase;
            margin-top: 1rem;
        }
    }

    .banner {
        background-color: #0282F9;
        padding: 4rem 0;

        img {
            width: 60px;
            height: 60px;
            object-fit: contain;
            vertical-align: middle;
            margin-right: 1rem;
        }

    }
}

footer {
    background-image: url('../img/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    h5 {
        color: $light;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }

    ul {
        padding-bottom: 1rem;
        padding-left: 0;

        li {
            list-style: none;
            padding: 0.25rem 0;

            a {
                text-decoration: none;
                color: #797979;
            }
        }
    }

    .ft_logo {
        background-image: url('../img/dc-logo-bg.png');
        background-repeat: no-repeat;
        background-position: center;
    }


    .call_to_action {
        background-color: #303030;
        padding: 2rem 0;
        display: flex;
        justify-content: space-between;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $light;
            border: 2px solid #0282F9;
            padding: 0.5rem;

            &:hover {
                background-color: #0282F9;
            }
        }

        h5 {
            color: #0282F9;
        }

        .sign_up {
            display: flex;
        }

        .social {
            display: flex;
            justify-content: end;
            align-items: center;

            h3 {
                margin: 0 1rem;
            }

            img {
                margin: 0 0.5rem;
            }
        }
    }
}